In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
fraud = pd.read_csv('fraud.csv')

In [3]:
fraud.head()

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
1,2019-01-01 00:12:34,4956828990005111019,"fraud_Schultz, Simonis and Little",grocery_pos,44.71,Kenneth,Robinson,M,269 Sanchez Rapids,Elizabeth,...,40.6747,-74.2239,124967,Operational researcher,1980-12-21,09eff9c806365e2a6be12c1bbab3d70e,1325376754,40.079588,-74.848087,0
2,2019-01-01 00:17:16,180048185037117,fraud_Kling-Grant,grocery_net,46.28,Mary,Wall,F,2481 Mills Lock,Plainfield,...,40.6152,-74.4150,71485,Leisure centre manager,1974-07-19,19e23c6a300c774354417befe4f31f8c,1325377036,40.021888,-74.228188,0
3,2019-01-01 00:20:15,374930071163758,fraud_Deckow-O'Conner,grocery_pos,64.09,Daniel,Escobar,M,61390 Hayes Port,Romulus,...,42.2203,-83.3583,31515,Police officer,1971-11-05,6f363661ba6b55889e488dd178f2a0af,1325377215,42.360426,-83.552316,0
4,2019-01-01 00:23:41,2712209726293386,fraud_Balistreri-Nader,misc_pos,25.58,Jenna,Brooks,F,50872 Alex Plain Suite 088,Baton Rouge,...,30.4066,-91.1468,378909,"Designer, furniture",1977-02-22,1654da2abfb9e79a5f99167fc9779558,1325377421,29.737426,-90.853194,0

In [4]:
fraud.isna().mean()

trans_date_trans_time    0.0
cc_num                   0.0
merchant                 0.0
category                 0.0
amt                      0.0
first                    0.0
last                     0.0
gender                   0.0
street                   0.0
city                     0.0
state                    0.0
zip                      0.0
lat                      0.0
long                     0.0
city_pop                 0.0
job                      0.0
dob                      0.0
trans_num                0.0
unix_time                0.0
merch_lat                0.0
merch_long               0.0
is_fraud                 0.0
dtype: float64

In [5]:
fraud.columns = (fraud.columns.str.strip()
                              .str.replace(r'\s+', ' ', regex=True)
                              .str.lower()
                              .str.replace(' ', '_'))

In [6]:
drop_cols = [
'first','last','street','city','dob'
]

fraud = fraud.drop(columns=drop_cols, errors='ignore')

In [7]:
fraud.head()

,trans_date_trans_time,cc_num,merchant,category,amt,gender,state,zip,lat,long,city_pop,job,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,F,WA,99160,48.8878,-118.2105,149,Special educational needs teacher,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
1,2019-01-01 00:12:34,4956828990005111019,"fraud_Schultz, Simonis and Little",grocery_pos,44.71,M,NJ,7208,40.6747,-74.2239,124967,Operational researcher,09eff9c806365e2a6be12c1bbab3d70e,1325376754,40.079588,-74.848087,0
2,2019-01-01 00:17:16,180048185037117,fraud_Kling-Grant,grocery_net,46.28,F,NJ,7060,40.6152,-74.4150,71485,Leisure centre manager,19e23c6a300c774354417befe4f31f8c,1325377036,40.021888,-74.228188,0
3,2019-01-01 00:20:15,374930071163758,fraud_Deckow-O'Conner,grocery_pos,64.09,M,MI,48174,42.2203,-83.3583,31515,Police officer,6f363661ba6b55889e488dd178f2a0af,1325377215,42.360426,-83.552316,0
4,2019-01-01 00:23:41,2712209726293386,fraud_Balistreri-Nader,misc_pos,25.58,F,LA,70808,30.4066,-91.1468,378909,"Designer, furniture",1654da2abfb9e79a5f99167fc9779558,1325377421,29.737426,-90.853194,0

In [8]:
fraud['amt'].quantile(0.75)

np.float64(80.33)

In [9]:
fraud.groupby('category')['amt'].mean()

category
entertainment      73.130371
food_dining        41.933809
gas_transport      63.071509
grocery_net        51.420363
grocery_pos       126.759293
health_fitness     54.520994
home               55.579635
kids_pets          55.039312
misc_net           82.121960
misc_pos           72.364262
personal_care      45.556418
shopping_net       81.428008
shopping_pos       82.901724
travel             63.335248
Name: amt, dtype: float64

In [11]:
pd.pivot_table(fraud, index='category', values='amt', aggfunc='mean')

                       amt
category
entertainment    73.130371
food_dining      41.933809
gas_transport    63.071509
grocery_net      51.420363
grocery_pos     126.759293
health_fitness   54.520994
home             55.579635
kids_pets        55.039312
misc_net         82.121960
misc_pos         72.364262
personal_care    45.556418
shopping_net     81.428008
shopping_pos     82.901724
travel           63.335248

In [12]:
fraud.describe()

,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
count,4.911340e+05,491134.000000,491134.000000,491134.000000,491134.000000,4.911340e+05,4.911340e+05,491134.000000,491134.000000,491134.000000
mean,3.706013e+17,69.050120,50770.532384,37.931230,-90.495619,1.213922e+05,1.358730e+09,37.930272,-90.495411,0.002533
std,1.260229e+18,160.322867,26854.947965,5.341193,12.990732,3.725751e+05,1.819402e+07,5.372986,13.004100,0.050264
min,5.038744e+11,1.000000,1843.000000,24.655700,-122.345600,4.600000e+01,1.325376e+09,23.655789,-123.345106,0.000000
25%,2.131124e+14,8.960000,28405.000000,33.746700,-97.235100,1.228000e+03,1.343087e+09,33.781388,-96.984814,0.000000
50%,3.531130e+15,42.170000,49628.000000,38.507200,-87.591700,5.760000e+03,1.357257e+09,38.545124,-87.573441,0.000000
75%,4.653879e+15,80.330000,75048.000000,41.520500,-80.731000,5.083500e+04,1.374626e+09,41.624294,-80.685567,0.000000
max,4.956829e+18,25086.940000,99323.000000,48.887800,-69.965600,2.906700e+06,1.388534e+09,49.887523,-68.965624,1.000000

In [13]:
fraud['trans_date_trans_time'] = pd.to_datetime(fraud['trans_date_trans_time'], errors='coerce')
fraud['trans_hour'] = fraud['trans_date_trans_time'].dt.hour
fraud['trans_weekday'] = fraud['trans_date_trans_time'].dt.weekday
fraud['is_weekend'] = fraud['trans_weekday'].isin([5, 6]).astype(int)

In [14]:
fraud['amt_log'] = np.log1p(fraud['amt'])                               
q75 = fraud['amt'].quantile(0.75)
fraud['high_amount'] = (fraud['amt'] > q75).astype(int)

In [15]:
def haversine(lat1, lon1, lat2, lon2):
    R = 6371.0  # km
    lat1, lon1, lat2, lon2 = map(np.radians, [lat1, lon1, lat2, lon2])
    dlat, dlon = lat2 - lat1, lon2 - lon1
    a = np.sin(dlat/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2.0)**2
    return 2 * R * np.arcsin(np.sqrt(a))

fraud['distance_km'] = haversine(fraud['lat'], fraud['long'], fraud['merch_lat'], fraud['merch_long'])

In [16]:
q75_dist = fraud['distance_km'].quantile(0.75)
fraud['far_transaction'] = (fraud['distance_km'] > q75_dist).astype(int)

In [17]:
fraud['amt_log'] = np.log1p(fraud['amt'])

In [18]:
fraud['trans_date'] = fraud['trans_date_trans_time'].dt.date
fraud['daily_trans_count'] = fraud.groupby(['cc_num', 'trans_date'])['amt'].transform('count')
fraud['daily_avg_amt'] = fraud.groupby(['cc_num', 'trans_date'])['amt'].transform('mean')

In [19]:
cust_avg_amt = fraud.groupby('cc_num')['amt'].transform('mean')
fraud['amt_vs_cust_avg'] = fraud['amt'] - cust_avg_amt

In [20]:
fraud['weekend_far'] = ((fraud['is_weekend'] == 1) & (fraud['far_transaction'] == 1)).astype(int)

In [21]:
print("새로 생성한 피처:", [
    'distance_km', 'far_transaction', 'amt_log',
    'daily_trans_count', 'daily_avg_amt', 'amt_vs_cust_avg', 'weekend_far'
])
print(fraud.head(3))

새로 생성한 피처: ['distance_km', 'far_transaction', 'amt_log', 'daily_trans_count', 'daily_avg_amt', 'amt_vs_cust_avg', 'weekend_far']
  trans_date_trans_time               cc_num  \
0   2019-01-01 00:00:44         630423337322
1   2019-01-01 00:12:34  4956828990005111019
2   2019-01-01 00:17:16      180048185037117

                            merchant     category     amt gender state    zip  \
0    fraud_Heller, Gutmann and Zieme  grocery_pos  107.23      F    WA  99160
1  fraud_Schultz, Simonis and Little  grocery_pos   44.71      M    NJ   7208
2                  fraud_Kling-Grant  grocery_net   46.28      F    NJ   7060

       lat      long  ...  is_weekend   amt_log high_amount  distance_km  \
0  48.8878 -118.2105  ...           0  4.684259           1    30.212176
1  40.6747  -74.2239  ...           0  3.822317           0    84.702120
2  40.6152  -74.4150  ...           0  3.856087           0    67.847742

   far_transaction  trans_date  daily_trans_count  daily_avg_amt  \
0                0  2019-01-01                 10          73.58
1                0  2019-01-01                  2          24.39
2                0  2019-01-01                  4          34.27

   amt_vs_cust_avg  weekend_far
0        51.151887            0
1       -15.148059            0
2       -41.048067            0

[3 rows x 29 columns]